* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.nav {
    margin: 44px 0 144px 76px;
}

.link-nav {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;

}

.button-one {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 6px 21px;
}

img {
    margin-left: 125px;
    width: 568px;
    height: 500px;
    display: inline-block;
}

section {
    display: inline-block;
    position: absolute;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin: 32px 0 65px;
    position: relative;
}

.button-two {
    background: #ADFF00;
    border-radius: 31px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

@media screen and (max-width: 720px) {
    
    img {
        display: block;
        margin-top: 164px;
        margin-left: 45px;
        position: relative;
    }
    
    .nav {
        display: none;
    }
    .sessão {
        display: block;
        position: relative;
        margin-left: 111px;
    }
}

@media screen and (max-width: 690px) {
    .nav {
        display: none;
    }

    .sessão {
        display: block;
        position: relative;
    }
    
    img {
        margin-left: 45px;
        margin-top: 239px;
        position: relative;
        
    }
}

@media screen and (max-width: 500px) {

    img {
        margin-left: 23px;
        margin-top: 149px;
        width: 354px;
        height: 317px;
        display: block;
        position: relative;
       
    }

    p {
        display: none;
    }

    .nav {
        display: none;
    }

    .sessão {
        display: block;
        position:relative;
        margin-top: 24px;
        
    }

    h1 {
        
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        color: #515151;
        margin-top: 24px auto 7px;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #515151;
        width: 232px;
        height: 37px;

    }

    .button-two {
        margin-top: 17px;
    }

}
